* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  .botonera {
    margin: 0 auto;
    width: 200px;
    height: 400px;
    background-color: rgb(18, 71, 141);
    padding: 10px;
    .btn {
      padding: 10px;
      font-size: 20px;
    }
    .contenedor-pantalla {
      background-color: rgb(29, 29, 29);
      padding: 5px 0;
      margin-bottom: 10px;
      border-radius: 5px;
      .pantalla {        
        background: none;
        border: none;
        font-size: 20px;
        color: white;
        font-family: "Courier New", Courier, monospace;
        font-weight: 700;
        text-align: center;
        overflow: hidden;
      }
    }
    .contenedor-externo {
      background-color: aliceblue;
      padding: 1px;
      .col-left {
        display: inline;
        flex-direction: row;
        float: left;
      }
      .contenedor-sumar-igual {
        float: right;
        display: inline;

        .btn-sumar {
          padding: 20px 0;
        }
      }
    }
  }
}
